{% extends 'adminPanel/wrapper.html' %}


{% block main %}
<div class="container">
    <div class="from-group">
        <form action="" class="row" method="POST">
            {% csrf_token %}
            <div class="col-12 id_response my-2">
                <textarea type="text" name="response" id="" class="form-control" placeholder="Response text"></textarea>
            </div>
            <div class="col-12 id_response mb-2">
                <input type="text" name="kwards" id="" class="form-control" placeholder="Keywords">
            </div>
            <div class="col-5 id_response">
                <input type="text" name="region" id="" class="form-control" placeholder="Region">
            </div>
            <div class="col-5 id_response">
                <input type="text" name="limit" id="" class="form-control" placeholder="Limit">
            </div>
            <div class="col-2 sub_button">
                <button type="submit" class="form-control btn btn-outline-success">submit</button>
            </div>    
        </form>
    </div>
</div>
{% endblock main %}
    